.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

@font-face {
    font-family: roadway;
    src: url(fonts/ROADWAY_.ttf);
}

@font-face {
    font-family: glyphs;
    src: url(glyphicons-halflings-regular.ttf);
}

.glyphicon{
    font-family: glyphs;
}

.navbar-default{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

* {
    margin: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

