img.thumb{
height:150px;
width:150px;
display:block;
left-margin:auto;
right-margin:auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.price{
	font-weight: 900;

}

img.purchase{
height:200px;
width:450px;
display:block;
left-margin:auto;
right-margin:auto;
}

.im-centered { margin: auto; max-width: 1024px;}

img.carousel-img{
	display:block;
	left-margin:auto;
	right-margin:auto;
}