<!DOCTYPE html>
<html>
    <head>

        {% load staticfiles %}


        <title>Welf Street</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'collection/store.css' %}" rel="stylesheet">
        <link href="{% static 'base.css' %}" rel="stylesheet">
        <link href="{% static 'purchase/bootstrap-lightbox.min.css' %}" rel="stylesheet">

        {% block css %}

        {% endblock css %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media 
            queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page 
            via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
                html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
                respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files 
                as needed -->
        <script src="{% static 'bootstrap.min.js' %}"></script>
       <!--  <h1 class="text-center">Welf Street</h1>
        <h5 class="text-center">100% Egyptian Cotton</h5> -->
        <a href="/"><img class = "logo" src="{%static 'images/logo.jpg'%}"></img></a>

        <div class="container">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                         
                  </button>
            
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav nav-justified nav-text">
                    <li class="active"><a href="/">HOME</a></li>
                    <li><a href="/Collection">COLLECTION</a></li>
                    <li><a href="/SizeGuide">SIZE GUIDE</a></li>
                    <li><a href="/contactus">CONTACT US</a></li>
                    <li> <form name="checkout" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="business" value="{{ business_email }}">
                    <!--      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="CHECKOUT">

                         <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1"> -->
                        
                         <input type="hidden" name="display" value="1">
                          </form>
                        <a href="#" onclick="document.forms['checkout'].submit();">CHECKOUT</a>
                   
                       
                    </li>
                  </ul>
                  
                </div>

              </div>
            </nav>
            
        </div>
        
        {% block content %}
        {% endblock content %}
        
        {% block jsscripts %}
        {% endblock jsscripts %}
        
          <footer><div class="container">
    <!--           <div class=" col-md-1 col-sm-12 col-xs-12 ">
              </div>
              <div class=" col-md-10 col-sm-12 col-xs-12 ">
               -->
              <ul class="nav navbar-nav social">
                <li class="footer"><a href="https://www.facebook.com/welfstreet/info?tab=page_info"><img class = "footer" src="{%static 'images/facebook.jpg'%}"></img></a></li>
                <li class="footer"><a href="https://www.instagram.com/welfst/"><img class = "footer" src="{%static 'images/instagram.png'%}"></img></a></li>
                <!-- <li class="footer"><a href="/about_us">About Us</a></li> -->
                <li class="footer"><a href="/privacy_disclosure">Privacy Policy</a></li>
                <li class="footer"><a href="/terms">Terms and Conditions</a></li>
             </ul>
             <!-- </div>
             <div class=" col-md-1 col-sm-12 col-xs-12 ">
             </div> -->
          </div></footer>
      
    </body>
</html>