{%extends "base.html" %}

{% block css %}

{% endblock css %}

{% block content %}
	{% load staticfiles %}
	<div class="container">
	<h3>PRIVACY POLICY</h3>
	<p class="priv">

	Your privacy is very important to us and always act to protect it. We take this responsibility seriously,  acting carefully how and when your personal information is collected, used and shared. This statement outlines the commitment of Welf St, why we need to collect personal information, who we may share that information with and how you may access the information that we hold.</p>

	 
	<h3>OUR COMMITMENT TO PRIVACY</h3>
	<p class="priv">
	We always handle personal information both securely and carefully. We will only use your personal information when it is necessary for us to deliver you a service or perform other necessary business functions and activities. We will not use your information for purposes unrelated to the services we provide, unless first obtaining your consent, to do so. We will always use fair and lawful means of collecting personal information. Mainly, we will collect personal information directly from you.</p>

	
	<h3>WHAT WE COLLECT</h3>
	<p class="priv">
	The relevant information we collect is dependent on service or interaction you wish to receive. Information we collect can include: your name, address, phone and other contact details, date of birth, gender, merchandise information, method of payment. Sometimes we may ask customers to provide additional information, such as where you shop or what your interests are, so that we can provide a better retail experience in improving the service and products we offer. We do not store your credit card details on file in any way; they are secured by 128-bit SSL encryption and transmitted to our payment processing provider Paypal. </p>

	 
	<h3>HOW WE COLLECT IT</h3>
	<p class="priv">
	The information we collect is directly supplied by you, the customer at our website. For example, the details you provide us when you place an order, open an account, subscribe to our emails, join a mailing list, enter a competition, submit an enquiry, or provide feedback to us is only established by yourself. Where we wish to collect personal information about you via the internet, we will expressly ask you for that personal information and explain the purpose for which we are requesting the information (e.g. to add you to a mailing list). Outside of information that you enter at our website, we also receive and store certain types of information through the use of 'Cookies', when you interact via the Internet. Cookies are alphanumeric identifiers that are placed on your computer's hard drive through your web browser. Most Internet browsers are pre-set to accept cookies. If you prefer not to receive cookies, you can simply adjust your Internet browser to disable or to warn you when cookies are used. We recommend that you leave your Cookies enabled as they allow our systems to recognise your browser and provide quicker and easier use of our website, to simplify and make your shopping experience even better.  </p>

	 
	<h3>WHY WE COLLECT IT</h3>
	<p class="priv">
	We collect information for multiple reasons, pertaining to: deliver and improve the products and services that we offer you, to complete other transactions with you or on your behalf, to protect against fraud or theft, to provide offers and promotions that are of interest or maybe a benefit to you, and to generally provide you with a premium customer experience. We will only collect personal information that is necessary for our functions and activities. We will generally only use your personal information for purposes related to the main purpose for which the information was collected, or where you have consented to the use.</p>

	 
	<h3>WHO WE SHARE IT WITH</h3>
	<p class="priv">
	We do not, nor intend to sell your personal information to other parties. However, we will often need to pass your personal details, such as your name and address, to companies who perform part of our service delivery, for example, organisations such as Australia Post or other agencies that assist us in the conduct of our day to day functioning of our business. We may otherwise use or disclose your personal information where required or authorised by law, which may include: Emergency situations and assisting law enforcement agencies. Also, if you ever require to access or correct any personal information we hold about you, please contact us using the Contact Details set out below. We request that you provide as much detail as you can about the particular information you require, in order for us to retrieve it. Bear in mind, an access fee may be charged to cover our costs of providing that information to you. In certain circumstances, we may unfortunately not be able by law to provide you with access or to correct your personal information. In this case, we will disclose the reasons behind this decision. We take reasonable steps to make sure that the personal information we collect, use and disclose is accurate, complete and up-to-date. If you have any questions or feedback about privacy, or wish to make a complaint, please contact us by email at: welfstreet@gmail.com</p>




	</p>
</div>
{% endblock content %}


{% block jsscripts %}

{% endblock jsscripts %}