{%extends "base.html" %}

{% block css %}

{% endblock css %}

{% block content %}
	{% load staticfiles %}
	<div class="container">
	<h3>TERMS & CONDITIONS</h3>

	Well St Online Store Returns Policy and Return Instructions


	<h3>Change of Mind Returns</h3>

	<p class="priv">
	Welf St unfortunately does not refund for change of mind returns for items purchased by online customers.

Exchanges are accepted for change of mind subject to the following conditions:
	<ul>
		<li>1. Items for exchange must be returned within 7 days of receipt with the invoice.</li>

		<li>2. Items for exchange are to be returned at the expense of the customer.</li>

		<li>3. Items for exchange must be returned in unworn, unwashed and otherwise unused condition, with all original tags attached.</li>

		<li>4. Welf St does not accept refunds or exchanges for any Pre-Orders or Sale items. All Pre-order and Sale item purchases are final.</li>

		<li>5. Customer exchanges – You will be liable for any costs associated with us delivering the exchange item to you and, if the exchange item is of a higher value than the return item, you must also pay us the difference in price. The exchange item will be shipped once you have paid for these costs and we have received the return item back and confirmed that it meets the above conditions. A credit note will issued if the exchanged item is of lesser value than the original item.</li>

	</ul>

	 

	<h3>Faulty Items Returns Policy</h3>

	 
	<p class="priv">
	All items are quality controlled and checked for any faults before they are dispatched to customers. Should you receive an item that is not in perfect condition please email us immediately at welfstreet@gmail.com to ensure your return is processed as quickly as possible.	
	<p class="priv">
	For items that are faulty, wrongly described or different from a sample shown, we will meet our legal obligations under Australian Consumer Law and may refund the purchase price and delivery charges or provide a replacement product, provided the item has not been purposely or accidentally damaged and that the item is returned within a reasonable time with proof of purchase. Nothing in this Returns Policy in any way excludes or limits our Australian customers’ rights under the Australian Consumer Law.	</p>
	 

	<h3>Return Instructions</h3>

	 
	<p class="priv">
	Please follow the instructions below;
	<p class="priv">
	Return the item with the invoice to - Attention: Online Returns, Welf St, PO Box 311, Ramsgate 2217 NSW, Australia. It is recommended that you return the item via a trackable method as no responsibility is taken for any return packages that are lost or damaged.	<p class="priv">
	For exchanges - please write the style name, colour and size of the replacement item you require on the returned invoice. Please note that stock availability is not guaranteed for exchanges.	<p class="priv">
	Once we have received the item and verified the exchange conditions have been met, we will contact you to advise if further payment is required and provide replacement delivery details. Return shipping charges are not refundable.	<p class="priv">
	For Faulty items – please state the issue clearly on the invoice. Once we have received the item and assessed the issue, we will contact you to advise if the item is to be repaired, replaced or refunded. Welf St will reimburse any reasonable documented shipping charges for the return of goods that have been deemed as faulty.
	Any questions? Please email welfstreet@gmail.com
	</p>
	 

	<h3>SHIPPING</h3>

	<p class="priv">
	Welf St delivers within Australia and Internationally.
	<p class="priv">
	AUSTRALIA WIDE
	<p class="priv">
	Orders within Australia are delivered via our designated courier or postage service. Orders are dispatched and tracking number provided within 24 hours of next business day and delivered within 1–8 days thereafter. A signature is required on delivery. Delivery can be made to a home or office addresses, please note we are unable to deliver to P.O Boxes. Please allow extra delivery time for addresses outside of metropolitan areas. Once the order has been processed we will provide you with the tracking number for your order via email.
	 
	<p class="priv">
	Shipping Rate
	<p class="priv">
	Shipping is provided free of charge to all orders shipped within Australia and the rest of the world. 	<p class="priv">
	INTERNATIONAL
	<p class="priv">
	International orders are shipped via our designated International regular postal service, free of charge. Once orders have been processed we will provide you with the tracking details via email.
	<p class="priv">
	Please note we do not ship orders to the following countries; Iran, Iraq, Lebanon, North Korea, Ivory Coast, Sierra Leone, Sudan, Rwanda, Democratic Republic of Congo, Eritrea
	 
	<p class="priv">
	Express shipping Rate
	<p class="priv">
	If express courier is necessary, additional shipping rates will be applied dependent upon your location, in accordance with DHL pricing strategy.

	 
	<p class="priv">
	Taxes & Duties
	<p class="priv">
	Welf St cannot be held responsible for any possible duties and taxes that may be applied to customers in the country where delivery is made. The customer is responsible for any foreign taxes, custom duties or other fees that may be incurred.
	<p class="priv">
	To find out more information about taxes and duties payable in your country, please contact your local Customs Office.
	<p class="priv">
	Please note that any delivery dates specified are at best an estimate, and Brando cannot be held liable for any loss or damage caused as a result of a delay in delivery.	</p>
</div>
{% endblock content %}


{% block jsscripts %}

{% endblock jsscripts %}