{%extends "base.html" %}

{% block css %}

        {% load staticfiles %}


{% endblock css %}

{% block content %}


<div class="container">
    <!-- <div class="row">

        <div class=" col-md-1 col-sm-12 col-xs-12 ">
        </div>
        <div class=" col-md-2 col-sm-12 col-xs-12 ">
            <h3>{{product_name}}</h3>
        </div>
        <div class=" col-md-9 col-sm-12 col-xs-12 ">
        </div>
    </div> -->

     <div class="row" >
            <div class=" col-md-1 col-sm-12 col-xs-12 ">
            </div>
            <div class=" col-md-4 col-sm-8 col-xs-8 center-c" >
             
                <!-- <div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-content'> -->
                        <img id="product_graphic" class="center" src= "{{ principal_image.image.url }}">
                        
                       <!--  <div class="lightbox-caption"><p>{{product_name}}</p></div>
                    </div> -->
              
            </div>
            <div class=" col-md-1 col-sm-4 col-xs-4 ">
                {% for product_image in product_images %}
                <img id="image{{ forloop.counter }}" class="library-thumb" onclick="setPicture();" src="{{ product_image.image.url }}">
                <!-- 
                FOR THE FOR LOOP, WE MAY NEED TO SET A COUNTER, to set an id for each image
                <img id="thumb01" class="library-thumb" onclick="setPicture();" src="{{ product_image.url }}">
                <img id="thumb02" class="library-thumb" onclick="setPicture();" src="{{ black_image.url }}"> -->
                {% endfor %}
            </div>
            <div class=" col-md-1 col-sm-12 col-xs-12 " >
            </div>

            <div class=" col-md-4 col-sm-12 col-xs-12 " >
                <div class="row">
                <p class="price pull-left">{{product_name}}</p>
                <p class="price pull-right">${{product_cost}}</p>
            </div>
            <div class="row">
           
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="add" value="1">
                    <input type="hidden" name="business" value="{{business_email}}">
                    <input type="hidden" name="item_name" value="{{ product_name }}">
                    <input type="hidden" name="currency_code" value="AUD">
                    <input type="hidden" name="amount" value="{{product_cost}}">
                        <label for="size_menu">Size</label>
                        <input type="hidden" name="on0" id="os0" value="Size">
                       
                        <div class="btn-group" id="os0" name="os0" data-toggle="buttons">
                            <button type="button" class="btn btn-default active" onClick="$('#os0').val('Size: XS');"><input type="radio" > XS</button>
                            <button type="button" class="btn btn-default" onClick="$('#os0').val('Size: S');"><input type="radio" > S</button>
                            <button type="button" class="btn btn-default" onClick="$('#os0').val('Size: M');"><input type="radio" > M</button>
                            <button type="button" class="btn btn-default" onClick="$('#os0').val('Size: L');"><input type="radio" > L</button>
                            <button type="button" class="btn btn-default" onClick="$('#os0').val('Size: XL');"><input type="radio" > XL</button>
                        </div>
                    
                        </br>
                        <input type="hidden" name="on1" id="os1" value="Cut">
                        <label for="size_menu">Cut</label>
                        <div class="btn-group" id="cut_group" name="os1" data-toggle="buttons">
                            {% for cut in clothing_cuts %}
                            <button type="button" class="btn btn-default 
                            {% if forloop.counter == 1 %}
                                active
                            {% endif %}
                            " onClick="$('#os1').val('Cut: {{cut}}');"><input type="radio"> {{cut}}</button>
                            {% endfor %}
                        </div>
                        </br>

                        <input type="hidden" name="on2" id="os2" value="Colour">
                        <label for="size_menu">Colour</label>
                        <div class="btn-group" id="colour_group" name="os2" data-toggle="buttons">
                            {% for colour in clothing_colours %}
                            <button type="button" id="colour_{{colour}}" class="btn btn-default 
                            {% if forloop.counter == 1 %}
                                active
                            {% endif %}
                            " onClick="$('#os2').val('Colour: {{colour}}');outlineColour()" style="background-color:{{colour}};
                            {% if forloop.counter == 1 %}
                                outline:thin solid cyan
                            {% endif %}
                            color:{{colour}}
                            "><input type="radio"  >&#160</button>
                            
                            {% endfor %}
                        </div>
                            
                    <br/>
                    
                    <input type="image" src="http://www.paypalobjects.com/en_AU/i/btn/x-click-but22.gif" border="0" name="submit" width="87" height="23" alt="Make payments with PayPal - it's fast, free and secure.">
                </form>
            </div>
            
            <div class="row">
                <h3>Description</h3>
                <ul class="nav nav-tabs">
                  <li><a id="active" data-toggle="tab" href="#productdescription">Product Info</a></li>
                  <li><a data-toggle="tab" href="#shippingdescription">Shipping Info</a></li>
                </ul>
                <div id="tabs" class="tab-content">
                    <div id="productdescription" class="tab-pane fade">
                        <p>{{prodcut_description}}</p>
                    </div>

                    <div id="shippingdescription" class="tab-pane fade">
                        <h4>Regular Post</h4>
                        <p>Shopping at Welf Street is easy as we offer worldwide shipping on all products, free of charge through Australia Post. That’s right for FREE</p>

                        <h4>Express Post</h4>
                        <p>For all express order a flat rate of $25 is charged. Using DHL Express you will receive your order within 3-7 days, anywhere on the planet. A tracking number will be provided by Welf Street and DHL Express. Any customs or import duties are charged at checkout.</p>
                    </div>
                </div>
                
            </div>
            </div>
            <div class=" col-md-1 col-sm-12 col-xs-12 col-centered" >
            </div>
        </div>



     </div>

    
     


     </script>

     <script type="text/javascript">
        $('#on0').val('Size:');
        $('#os1').val('Cut: {{ clothing_cuts.1 }}')
        $('#os2').val('Colour: {{ clothing_colours.1 }}')
        var previous_button_id = "os2"
     function outlineColour(){
        var previous_button = document.getElementById(previous_button_id)
        previous_button.style.outline = "none";
        var current_colour = document.getElementById("os2").value;
        var current_id = "colour_" + current_colour.split(" ")[1];
        previous_button_id = current_id;
        console.log(current_id);
        var current_colour_selected = document.getElementById(current_id);
        console.log(current_colour_selected);
        current_colour_selected.style.outline = "thin solid cyan";

     }

    function setPicture(){
        var img = document.getElementById("product_graphic");
        var selection = document.getElementById("colour_menu");
        var value = event.target;
        // var value = selection.options[selection.selectedIndex].value;
        img.src=value.src
        // if (value == 'thumb02'){
        //     img.src="{{ black_image.url }}";

        // }
        // else if  (value == 'thumb01'){
        //     img.src="{{ product_image.url }}"
        // }
        console.log(value.src);
        $('#product_graphic').trigger('zoom.destroy');
        addZoom();
     }
    
     function addZoom(){
        $('#product_graphic')
         .wrap('<span style="display:inline-block"></span>')
         .css('display', 'block')
         .parent()
         .zoom();
     }
     $(document).ready(function(){
       addZoom();
       outlineColour();
       $('#active').trigger('click');

     });


     </script>

    

</div>


{% endblock content %}


{% block jsscripts %}
  {% load staticfiles %}
  <script src="{% static 'jquery.zoom.min.js' %}"></script>

{% endblock jsscripts %}