{%extends "base.html" %}

{% block css %}

{% endblock css %}

{% block content %}
	 {% load staticfiles %}
	<!-- Do not change the code! -->

	<div class="container">
		 <div class=" col-md-6 col-sm-6 col-xs-12" style="background-color:white;">
		<h3>STOCK & CUSTOMER ENQUIRIES</h3>
		

		<p>Please fill out the contact form to the right. 
		We will endeavor to get back to you with a response within 48 business hours.</p>
		<h3>PRESS ENQUIRIES</h3>
		Welf St  
		<p>E:  welfstreet@gmail.com </p>
	</div>

		<div class=" col-md-6 col-sm-6 col-xs-12" style="background-color:white;">
	<!-- Do not change the code! -->
	<a id="foxyform_embed_link_733389" href="http://www.foxyform.com/">foxyform</a>
	<script type="text/javascript">
	(function(d, t){
	   var g = d.createElement(t),
	       s = d.getElementsByTagName(t)[0];
	   g.src = "http://www.foxyform.com/js.php?id=733389&sec_hash=a5d55e090fc&width=350px";
	   s.parentNode.insertBefore(g, s);
	}(document, "script"));
	</script>
	<!-- Do not change the code! -->
	</div></div>
{% endblock content %}


{% block jsscripts %}

{% endblock jsscripts %}