{%extends "base.html" %}



{% block content %}

        <div class="container">

         <!--      <div class="jumbotron">
                <h1>Beamer Car Parts!</h1>        
                <p>Sparkplugs for $5000...</p>        
            </div>       -->    


            {% for clothing_object in clothing_objects %}
                
                    
                    <a href="/purchase?product={{clothing_object.style.name}}" >
                        <div class=" col-md-4 col-sm-6 col-xs-12" style="background-color:white;">
                            <div class="row">
                                <img src= "{{ clothing_object.image.image.url }} " class="thumb center-block"></img>
                            </div>
                            <div class="row">
                                <p class="text-center collection">{{clothing_object.style.name}}</p>
                                <p class="text-center collection">${{clothing_object.style.cost}}</p>
                            </div>
                        </div> 
                        
                    </a>

         

            {% endfor %}

            <div class="container-fluid">
              <!-- <div class="row">
                <div class=" col-md-3 col-sm-6 col-xs-12" style="background-color:white;">
                    <div class="row">
                        <img src='http://kalecoauto.com/images/jrod.jpg' class="thumb center-block"></img>
                    </div>
                    <div class="row">
                        <p class="text-center price">$15</p>
                    </div>
                </div> -->
              </div>
            </div>
        </div>

{% endblock content %}

