{%extends "base.html" %}



{% block css %}

{% endblock css %}

{% block content %}


<div class="container">

   <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     
     
     

     <!-- Wrapper for slides -->

     <div class="carousel-inner" role="listbox">



        {% for style_object in style_objects %}


    
       <div class="item {% if forloop.first  %} active {% endif %} ">
         <img class="" src="{{ style_object.carousel_image.url }}" alt="{{ style_object.name }}" >
       </div>
       
       <script>
            //console.log("{{special_object.item}}");
       </script>

      <!--  <div class="item">
         <img src="img_chania2.jpg" alt="Chania">
       </div>

       <div class="item">
         <img src="img_flower.jpg" alt="Flower">
       </div> -->
       {% endfor %}

     </div>

     <!-- Left and right controls -->
     <a  href="#myCarousel" role="button" data-slide="prev">
     <!--   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span> -->
     </a>
     <a  href="#myCarousel" role="button" data-slide="next">
     <!--   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span> -->
     </a>
   </div>

   

</div>


{% endblock content %}


{% block jsscripts %}

{% endblock jsscripts %}