
img.thumb{
height:200px;
width:136px;
display:block;
left-margin:auto;
right-margin:auto;
}

h3{
    font-family: roadway;
    color: black;

    text-transform: uppercase;

}

li.footer{
    font-family: roadway;
    color: black;
    text-transform: uppercase;
    font-size:100%;
}

p.priv{
    font-family: arial;
}

p.price{
    font-family: roadway;
    color: black;
    font-size:200%;
    text-transform: uppercase;
    display: inline
}

p.collection{
    font-family: roadway;
    color: black;
    text-transform: uppercase;
    font-size:150%;
}

img.library-thumb{
    height:150px;
    width:102px;
     border:2px solid #000000;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


img.purchase{
height:450px;
width:300px;
display:block;
left-margin:auto;
right-margin:auto;
}

img.slider{
height:450px;
width:300px;
display:block;
left-margin:auto;
right-margin:auto;
    
}

.im-centered { margin: auto; max-width: 1024px;}


.logo {
    max-width:100%;
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.footer{
    width:25px;
    height:auto;
}

.right {
    float: right;

    padding: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

img.center {
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner img {
  margin: auto;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     width: 400px;
}

.nav-text{
    font-family: roadway;
    color: black;
    font-size:150%;
}

a {
    color: #000000;
    text-decoration: none;
}

a.hover {
    color: black;
}

img.small{
    height:200px;
    width:auto;
}

label {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
}

input, label {
    float:left;
}