img.thumb{
height:150px;
width:150px;
display:block;
left-margin:auto;
right-margin:auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.price{
	font-weight: 900;

}